apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: bcbsfl-nginx-git-build
  labels:
    app: bcbsfl-nginx-git
spec:
  # --- SOURCE: CLONE FROM GIT REPO ---
  source:
    type: Git
    git:
      uri: https://gitlab.bcbfs1.com/n5bp/bcbsfl-nginx-demo.git  # <-- your repo
      ref: main                                                  # branch name
    contextDir: .                                                # root folder in repo

  # --- BUILD STRATEGY: DOCKER (Dockerfile in repo) ---
  strategy:
    type: Docker
    dockerStrategy: {}   # no inline Dockerfile here

  # --- OUTPUT: PUSH IMAGE TO QUAY ---
  output:
    to:
      kind: DockerImage
      name: quay-enterprise.apps.ose4-dev.bcbfs1.com/n5bp/argocd-cicd:pavan
    pushSecret:
      name: n5bp-test-pull-secret   # must exist in the namespace

  # --- TRIGGERS (optional but useful) ---
  triggers:
    - type: ConfigChange
    - type: ImageChange
